
<div class="container-fluid">
<h2>Checkout</h2>

<%= form_for @order, :url => checkout_path ,class: "form-horizontal" do |f| %>
   <%= f.label :first_name, 'Name' %>
   <%= f.text_field :first_name %> <%= f.text_field :last_name %>

   <%= f.label :billing_address1, 'Address' %>
   <%= f.text_field :billing_address1 %>
   <%= f.text_field :billing_address2 %>
   <%= f.text_field :billing_address3 %>
   <%= f.text_field :billing_address4 %>
   <%= f.label :billing_postcode, 'Post code' %>
   <%= f.text_field :billing_postcode %>
   <%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true %>

   <%= f.label :email_address %>
   <%= f.text_field :email_address %>

   <%= f.label :phone_number %>
   <%= f.text_field :phone_number %>

   <%= f.submit 'Continue' %>
<% end %>



<div class="col-md-6">
<%= render 'items', :order => @order %>
<p><%= link_to 'Empty basket', basket_path, :method => :delete %></p>

</div>
</div>