

<div class="leftside col-md-5 hidden-xs hidden-sm ">
  <img src="https://download.unsplash.com/photo-1428953773181-b4cf23cd7195" style="height:100%;">
</div>
<div class="rightside col-md-7">
  <table class="table table-striped">
    <thead>
      
      <tr>
        <td>ticket type</td>
        <td>cost</td>
        <td>Fees</td>
        <td>Quantity</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @product.name %></td>
        <td><%= number_to_currency @product.price %></td>
        <td><%= number_to_currency @product.tax_rate_id %></td>
        <td><%= select_tag :q, options_for_select(1..20), { prompt: " Select Quantity", class:"ticketq"  }%>
        </td>
      </tr>
    </tbody>
  </table>
  
  <%= link_to "Checkout", product_path(@product.permalink, :q => ""), :method => :post ,class: "checkoutlink btn btn-success"%>
  </div> 